@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5C7D98;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-image: linear-gradient(#40A5ED, #5591C2, #5C7D98);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1px;
    margin: auto;
}

header > h1{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

main{
    background-color: white;
    padding: 10px 10px 10px 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto; 
    box-shadow: 4px 4px 0px 3px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
}

main > h2{
    padding: 0px 0px 0px 10px;
}

main > p{
    padding: 10px;
}

img.thiago {
    display: block;
    padding: 10px 0px 0px 0px;
    margin: auto;
}