@charset "UTF-8";


body {
    background-color:rgb(255, 252, 212);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    h1 {
        color: black;
    }
     h2{
        color:darkred
    }
    p {
        text-align: justify;
    }
