@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #13678A, #012030);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #13678A;
    text-align: center;
    text-shadow: 1px 1px 2px #0d445e73;
}

h2 {
    color: #29776b;

}

p {
    text-align: justify;
}